<div id="contact">
    <div class="contact_nav container">
        <div class="contact_nav-header">
            LIÊN HỆ
        </div>

        <div class="container_nav-border"></div>

        <div class="contact_nav-content">
            <div class="contact_nav-content-right">
                <div class="contact_nav-content-right-header">
                    Trụ sở chính
                </div>
                <span>Địa chỉ: 55 Quang Trung, Hà Nội, Việt Nam</span>
                <span>Điện thoại: (024) 39428633</span>
                <span>Fax: (024) 38229085</span>
                <span>Email: info@nxbkimdong.com.vn</span>
                <span>Website: www.nxbkimdong.com.vn</span>
                <div class="contact_nav-content-right-header">
                    Chi nhánh tại TP. Hồ Chí Minh
                </div>
                <span>Địa chỉ: 248 Cống Quỳnh, P. Phạm Ngũ Lão, Q.1, TP. Hồ Chí Minh</span>
                <span>Điện thoại: (028) 39250987</span>
                <span>Fax: (028) 39305867</span>
                <span>Email: cnkimdong@nxbkimdong.com.vn</span>
                <div class="contact_nav-content-right-header">
                    Chi nhánh tại Miền Trung
                </div>
                <span>Địa chỉ: 102 Ông Ích Khiêm, TP Đà Nẵng, Việt Nam</span>
                <span>Điện thoại: (0236) 3812335</span>
                <span>Fax: (0511) 3812334</span>
                <span>Email: cnkimdongmt@nxbkimdong.com.vn</span>
            </div>

            <div class="contact_nav-content-left">
                <form>      
                    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
                    <input name="email" type="text" class="feedback-input" placeholder="Email" />
                    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
                    <input type="submit" value="SUBMIT"/>
                    </form>
            </div>
        </div>
    </div>

</div>