<div id="container">
        <div class="container_header container">
            <ul class="container_header-list">
                <li>
                    <a href="#">Trang chủ</a>
                    <span> > </span>
                </li>
                <li>
                    <a href="#">Danh mục sản phẩm</a>
                    <span> > </span>
                </li>
                <li>
                    <a href="#">Văn học</a>
                    <span> > </span>
                </li>
                <li>
                    <a href="#">Tiểu thuyết</a>
                    <span></span>
                </li>
            </ul>

            <div class="container_product">
                <div class="container_product-left">
                    <div class="container_product-left-img">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/n/h/nha-5-nang-dau-_-t_p-11.jpg" alt="">
                    </div>
                    <a href="#" class="container_product-left-btn">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="container_product-left-btn-text">Thêm vào giỏ hàng</div>
                    </a>
                </div>

                <div class="container_product-right">
                    <div class="container_product-right-header">Nhà Có 5 Nàng Dâu - Tập 11</div>
                    <div class="container_product-right-info">
                        <div class="container_product-right-info-list">
                            <div class="container_product-right-info-item">
                                <div>Nhà cung cấp:</div>
                                <span>Nhà Xuất Bản Kim Đồng</span>
                            </div>
                            <div class="container_product-right-info-item">
                                <div>Tác giả:</div>
                                <span>Negi Haruba</span>
                            </div>
                        </div>
                        <div class="container_product-right-info-list">
                            <div class="container_product-right-info-item">
                                <div>Nhà xuất bản:</div>
                                <span>NXB Kim Đồng</span>
                            </div>
                            <div class="container_product-right-info-item">
                                <div>Hình thức bìa:</div>
                                <span>Bìa Mềm</span>
                            </div>
                        </div>
                    </div>
                    <div class="container_product-right-price">
                        <span class="container_product-right-price-span">25.000</span><sub>đ</sub>
                    </div>
                    <div class="container_product-right-quantum">
                        <div class="container_product-right-quantum-text">
                            Số lượng:
                        </div>
                        <div class="container_product-right-quantum-btn">
                            <a href="#" class="btn-sub">-</a>
                            <span class="SLsp">1</span>
                            <a href="#" class="btn-sum">+</a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

            <div class="container_info">
                <div class="container_info-header">
                    Thông tin sản phẩm
                </div>
                <div class="container_nav-border"></div>
                <div class="container_info-text">
                    Thầy giáo dạy thêm bất đắc dĩ Futarou đang gánh vác sứ mệnh dẫn lối cho 5 chị em gái xinh đẹp nhưng lại “ghét học”, “suýt soát lưu ban” tới ngưỡng cửa “lễ tốt nghiệp”. 6 người bọn họ đã xuất sắc vượt qua thử thách mà ông bố nhà Nakano đặt ra, Futarou đạt top 10 trong “kì thi thử toàn quốc”, còn 5 chị em thì thoát cảnh “điểm liệt”. Futarou lại một lần nữa được đảm đương trách nhiệm gia sư, còn các cô gái thì bắt đầu “hành động” để trở nên gần gũi với anh chàng hơn!
                    “Chuyến tham quan trường” hay cuộc chiến tình yêu sắp sửa bắt đầu...!!
                </div>
            </div>
        </div>

    </div>
