<div id="header">
        <div class="header-top__wrapper">
            <div class="header-top container">
                <div class="header-top__logo">
                    <a href="/" class="header-top__logo-link">
                        <img src="/img/logo.png" alt="logo" class="header-top__logo-img">
                    </a>
                </div>
                <div class="header-top__nav">
                    <ul class="header-top__nav-list">
                        <li class="header-top__nav-item">
                            <a href="#" class="header-top__nav-link">
                                Danh mục sản phẩm
                                <i class="fas fa-angle-down"></i>
                            </a>
                            <ul class="header-top__subnav-list">
                                <div class="header-top__subnav2">
                                    <li class="header-top__subnav2-item">
                                        <a href="#" class="header-top__subnav2-link">VĂN HỌC</a>
                                        <ul>
                                            <li class="header-top__subnav-item">
                                                <a href="/vanhocs/tieu-thuyet" class="header-top__subnav-link">Tiểu thuyết</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/vanhocs/truyen-ngan-tan-van" class="header-top__subnav-link">Truyện ngắn - Tản văn</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/vanhocs/light-novel" class="header-top__subnav-link">Light Novel</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/vanhocs/ngon-tinh" class="header-top__subnav-link">Ngôn tình</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="header-top__subnav2-item">
                                        <a href="#" class="header-top__subnav2-link">SÁCH THIẾU NHI</a>
                                        <ul>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachthieunhis/manga-comic" class="header-top__subnav-link">Manga - Comic</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachthieunhis/kien-thuc-bach-khoa" class="header-top__subnav-link">Kiến thức bách khoa</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachthieunhis/vua-hoc-vua-choi" class="header-top__subnav-link">Vừa học vừa chơi</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachthieunhis/ky-nang-song" class="header-top__subnav-link">Kỹ năng sống</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="header-top__subnav2-item">
                                        <a href="#" class="header-top__subnav2-link">SÁCH KINH TẾ</a>
                                        <ul>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachkinhtes/nhan-vat-lich-su" class="header-top__subnav-link">Nhân vật lịch sử</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachkinhtes/quan-tri-lanh-dao" class="header-top__subnav-link">Quản trị lãnh đạo</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachkinhtes/phan-tich-kinh-te" class="header-top__subnav-link">Phân tích kinh tế</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="header-top__subnav2-item">
                                        <a href="#" class="header-top__subnav2-link">SÁCH NGOẠI NGỮ</a>
                                        <ul>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachngoaingus/tieng-anh" class="header-top__subnav-link">Tiếng Anh</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachngoaingus/tieng-nhat" class="header-top__subnav-link">Tiếng Nhật</a>
                                            </li>
                                            <li class="header-top__subnav-item">
                                                <a href="/sachngoaingus/tieng-trung" class="header-top__subnav-link">Tiếng Trung</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <li class="header-top__nav-item">
                            <a href="#" class="header-top__nav-link">
                                Giới thiệu
                                <i class="fas fa-angle-down"></i>
                            </a>
                            <ul class="header-top__subnav-list">
                                <li class="header-top__subnav-item">
                                    <a href="/gioithieus/nha-xuat-ban" class="header-top__subnav-link">Giới thiệu nhà xuất bản</a>
                                </li>
                                <li class="header-top__subnav-item">
                                    <a href="/gioithieus/nha-sach" class="header-top__subnav-link">Hệ thống nhà sách</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-top__nav-item">
                            <a href="/lienhes" class="header-top__nav-link">Liên hệ</a>
                        </li>
                    </ul>
                </div>

                <div class="header-top_search">
                    <input type="text" class="header-top_search-txt" placeholder="Tìm kiếm...">
                    <a href="#" class="header-top_search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </div>

                <div class="header-top__login">
                    <div class="header-top__login-cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="header-top__login-cart-body">
                            <div>
                                <div class="header-top__login-cart-header">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <div class="header-top__login-cart-header-name">Giỏ hàng</div>   
                            </div>
                            <div class="container_nav-border"></div>
                            <div class="header-top__login-cart-body-list-table">
                                <div class="header-top__login-cart-body-list">
                                    <div class="header-top__login-cart-body-img">
                                      <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/small_image/600x600/9df78eab33525d08d6e5fb8d27136e95/l/a/lam-hoa-diet-quy-_-tap-25.jpg" alt="">
                                 </div>
                                    <div class="header-top__login-cart-body-container">
                                        <div class="header-top__login-cart-body-name">
                                            Lam hỏa diệt quỷ - Tập 25
                                        </div>
                                    
                                        <div class="header-top__login-cart-body-info-price">
                                            <span class="header-top__login-cart-body-info-price-span">25.000</span>
                                            <sub>đ</sub> 
                                            <span class="header-top__login-cart-body-info-price-x" >X</span>
                                            <div class="header-top__login-cart-body-info-quantity">1</div>
                                            <a href="#" class="header-top__login-cart-body-info-icon"><i class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                        
                                    </div>
                             </div>
                            </div>
                            
                            <div class="container_nav-border"></div>
                            </div>
                            
                            <div class="header-top__login-cart-body-total">
                                <div class="header-top__login-cart-body-total-left">
                                    <div class="header-top__login-cart-body-total-sum">Tổng cộng:</div>

                                <div class="header-top__login-cart-body-total-left-list">
                                    <div class="header-top__login-cart-body-total-price">25</div>
                                    <span>.000</span>
                                    <span>đ</span>
                                </div>
                                    
                                </div>
                                <a href="/carts" class="header-top__login-cart-body-total-btn">Xem giỏ hàng</a>

                            </div>
                        </div>
                    </div>
                    <div class="header-top__login-admin">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-user-circle"></i>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal ">
        <div class="modal-container">
            <div class="modal-container-header">
                <a href="#" class="modal-container-login modal-container-active">
                    Đăng nhập
                </a>

                <a href="#" class="modal-container-signin">
                    Đăng ký
                </a>
            </div>

            <div class="modal-container-body-login modal-open">
                <div class="modal-container-body-login-text">
                    Tên đăng nhập
                </div>
                <input type="text"  class="modal-input" placeholder="Nhập tên đăng nhập">
                <div class="modal-container-body-login-text">
                    Mật khẩu
                </div>
                <input type="password"  class="modal-input" placeholder="Nhập mật khẩu">

                <div class="modal-btn-container" style="margin-top: 99px;">
                    
                    <button class="modal-btn">Đăng nhập</button>
                    <button class="modal-btn-cancel">Bỏ qua</button>

                </div>

            </div>

            <div class="modal-container-body-signin ">
                <div class="modal-container-body-login-text">
                    Tên đăng ký 
                </div>
                <input type="text"  class="modal-input" placeholder="Nhập tên đăng ký">
                <div class="modal-container-body-login-text">
                    Mật khẩu
                </div>
                <input type="password"  class="modal-input" placeholder="Nhập mật khẩu">
                <div class="modal-container-body-login-text">
                   Xác nhận mật khẩu
                </div>
                <input type="password"  class="modal-input" placeholder="Nhập lại mật khẩu">

                <div class="modal-btn-container">

                    <button class="modal-btn">Đăng Ký</button>
                    <button class="modal-btn-cancel">Bỏ qua</button>

                </div>
            </div>
        </div>
    </div>


    <script>
        const btnLogin = document.querySelector('.modal-container-login')
        const btnSigngin = document.querySelector('.modal-container-signin')
        const login = document.querySelector('.modal-container-body-login')
        const signgin = document.querySelector('.modal-container-body-signin')
        const btnCancel = document.querySelectorAll('.modal-btn-cancel')
        const modal = document.querySelector('.modal')
        const modalcontaier = document.querySelector('.modal-container')
        const btnmodalOpen = document.querySelector('.header-top__login-admin')

        btncancel()
        function btncancel(){
            btnCancel[0].addEventListener("click",function(event){
                modal.classList.remove('modal-open-flex')
            })
            btnCancel[1].addEventListener("click",function(event){
                modal.classList.remove('modal-open-flex')
            })
        }
        btnlogin()
        function btnlogin(){
            btnLogin.addEventListener("click",function(event){
                signgin.classList.remove('modal-open')
                login.classList.add('modal-open')
                btnLogin.classList.add('modal-container-active')
                btnSigngin.classList.remove('modal-container-active')
            })
        }
        btnsigngin()
        function btnsigngin(){
            btnSigngin.addEventListener("click",function(event){
                login.classList.remove('modal-open')
                signgin.classList.add('modal-open')
                btnSigngin.classList.add('modal-container-active')
                btnLogin.classList.remove('modal-container-active')
            })
        }

        function openmodal(){
            modal.classList.add('modal-open-flex')
        }

        function closebuytickets(){
            modal.classList.remove('modal-open-flex')
        }

        function closemodal(event) {
            event.stopPropagation()  
        }

        modal.addEventListener('click',closebuytickets)
        modalcontaier.addEventListener('click', closemodal)
        btnmodalOpen.addEventListener('click',openmodal)
    </script>