<div class="header-slider__wrapper">
    <div class="header-slider">
        <div class="header-slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="header-slide first">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img2.jpg?v=225" alt="">
            </div>
            <div class="header-slide">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img1.jpg?v=225" alt="">
            </div>
            <div class="header-slide">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img3.jpg?v=225" alt="">
            </div>
            <div class="header-slide">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img4.jpg?v=225" alt="">
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
        </div>
    </div>
</div>

<div id="main-content">
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            SÁCH MỚI
        </div>
        <div class="main-content_wrapper-list">
            {{#each sachmois}}
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="{{this.image}}" alt="">
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        {{this.name}}
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            {{this.price}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="main-content_wrapper-grid">
            <a href="">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            SÁCH BÁN CHẠY
        </div>
        <div class="main-content_wrapper-list">
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
<div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content_wrapper-grid">
            <a href="">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content-banner">
        <a href="">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/banner_home_pro_3.jpg?v=219" alt="">
        </a>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            COMBO
        </div>
        <div class="main-content_wrapper-list">
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
<div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
<div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content_wrapper-grid">
            <a href="">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content-banner">
        <a href="">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/banner_home_pro_4.jpg?v=219" alt="">
        </a>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            MANGA - COMIC
        </div>
        <div class="main-content_wrapper-list">
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
<img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content_wrapper-grid">
            <a href="">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content-banner">
        <a href="">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/banner_home_pro_5.jpg?v=219" alt="">
        </a>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            DORAEMON
        </div>
        <div class="main-content_wrapper-list">
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
<div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
</div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content_wrapper-grid">
            <a href="">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content-banner">
        <a href="">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/banner_home_pro_8.jpg?v=219" alt="">
        </a>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            SHOP NOW
        </div>
        <div class="main-content_wrapper-list">
            <div class="main-content_wrapper-item">
<a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
<div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content_wrapper-item">
                <a href="" class="main-content_wrapper-img">
                    <img src="https://product.hstatic.net/200000343865/product/25_f59df358beeb42328f36ccf6fca1557e_large.jpg" alt="">
                    <div class="main-content_wrapper-img-text-center">-10%</div>
                </a>
                <div class="main-content_wrapper-text">
                    <a href="#" class="main-content_wrapper-name">
                        Lam hỏa diệt quỷ - Tập 25
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            22,500đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            25,000đ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content_wrapper-grid">
            <a href="">Xem thêm >></a>
        </div>
    </div>
</div>

<script>
    var counter = 1;
    setInterval(() => {
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter > 4){
            counter = 1;
        }
    }, 2000);
</script>